@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --Amarelo: #EBDA15;
    --Cyan: #03FFFF;
    --Azul: #0C15FE;
    --Roxo: #3D2CEB;


    --Fonte-Escolhida: 'Permanent Marker';
    --Fonto-padrao:'Roboto'
}
*{
    margin: 0px;
    padding: 0px;
}


body{
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2019/04/14/20/05/duck-meet-4127713_1280.jpg);
    background-color: #EBDA15;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; 
    background-attachment: fixed;
}



strong{
    color: var(--Azul);
}

header{
    background-image: url(https://cdn.pixabay.com/photo/2015/03/22/23/07/bora-bora-685303_1280.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #EBDA15;
    text-align: center;
    border-bottom: 0px;
    margin: auto;
    box-shadow: 10px 10px 10px black;

}

header h1{
    text-shadow: 0px 0px 10px black;
    font-family: var(--Fonte-Escolhida);
    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 30px;
}

header h2{
    margin-bottom: 0px;
}

.foto{
    text-align: center;
}

.quadrado{
    border: solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 2px;
}

main{
    background-color: rgb(241, 241, 221);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;

}

main h1{
    background-image: linear-gradient(to right,  var(--Roxo), rgba(255, 255, 255, 0.075));
    color: var(--Cyan);
    font-family: var(--Fonte-Escolhida);
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
}

main  p{
    font-family: var(--Fonto-padrao);
    text-align: justify;
    padding: 20px;
    text-indent: 2em;
    line-height: 1.5em;

}

ul{
    font-family: var(--Fonto-padrao);
    list-style-position: inside;
    padding: 0px 0px 0px 10px;
    text-indent: 1em;
    line-height: 2em;
}

aside{
    background-color: var(--Amarelo);
    padding: 10px;
    border-radius: 10px;
}

aside h3{
    color: var(--Azul);
    font-family: var(--Fonte-Escolhida);
    padding: 10px;
}

aside ul {
    font-size: 1.5em;
    list-style-position: inside;
    
}

aside a{
    font-family: var(--Fonte-Escolhida);
    text-decoration: none;
    transition: .5s;
}

aside a:hover{   
    font-family: var(--Fonte-Escolhida);
    color: var(--Cyan);
}

footer{
    background-color: var(--Azul);
    color: var(--Amarelo);
    text-align: center
}